body {
	background-color: black;
}
#container {
	height: 0;
}
.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

.modal.show {
	display: block;
}
.toasts {
	position: absolute;
	bottom: 0;
	left: 0;
}

.display-controls {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 210px;
	z-index: 10000000;
}
.display-controls .btn {
	padding: 0px 5px;
	background-color: black;
	color: #aaaaaa
}

.dg.ac.hide,
.dg.ac .close-button {
	display: none;
}